@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    transition: all 0.01s ease-in-out;
    -webkit-transition: all 0.01s ease-in-out;
    -moz-transition: all 0.01s ease-in-out;
    -ms-transition: all 0.01s ease-in-out;
    -o-transition: all 0.01s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  html {
    @apply font-sans;
  }

  body {
    @apply bg-white dark:bg-[#0B0B0B] text-[#111111] dark:text-white cursor-none;
  }

  a {
    @apply cursor-none
  }

  @font-face {
    font-family: SF Pro Text;
    src: url("/fonts/sf/FontsFree-Net-SFProText-Light-1.ttf");
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: SF Pro Text;
    src: url("/fonts/sf/FontsFree-Net-SFProText-Regular-1.ttf");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: SF Pro Text;
    src: url("/fonts/sf/FontsFree-Net-SFProText-Bold-1.ttf");
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: Kugile;
    src: url("/fonts/kugile/FontsFree-Net-Kugile_Demo.ttf");
    font-weight: 400;
    font-display: swap;
  }

  input,
  textarea select,
  button {
    @apply outline-0;
  }

  button {
    @apply font-medium text-white;
  }

  .border-color {
    @apply border-[#333333];
  }

  .constraint {
    @apply container;
  }

  .explainer {
    @apply text-sm md:text-xs leading-normal lg:text-sm xl:text-[1.32vw] md:leading-6 lg:leading-8 xl:leading-[2.35vw] uppercase;
  }

  h1,
  .big-heading {
    @apply uppercase font-normal font-kugile text-3xl sm:text-[8vw] md:text-[6.5vw] lg:text-[6.6vw] leading-normal sm:leading-snug md:whitespace-nowrap;
  }

  h2 {
    @apply uppercase font-normal font-kugile text-3xl sm:text-[40px] md:text-[5vw] lg:text-[5.3vw] leading-normal sm:leading-snug md:whitespace-nowrap;
  }

  h4 {
    @apply font-kugile uppercase text-lg md:text-[2.2vw] md:leading-[3.5vw]
  }
}

@layer utilities {
  /* Rows */
  .inline-start {
    @apply inline-flex items-center justify-start;
  }

  .inline-center {
    @apply inline-flex items-center justify-center;
  }

  .inline-end {
    @apply inline-flex items-center justify-end;
  }

  .inline-between {
    @apply inline-flex items-center justify-between;
  }

  .inline-evenly {
    @apply inline-flex items-center justify-evenly;
  }

  .start {
    @apply flex items-center justify-start;
  }

  .start-start {
    @apply flex items-start justify-start;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .end {
    @apply flex items-center justify-end;
  }

  .between {
    @apply flex flex-row items-center justify-between;
  }

  .evenly {
    @apply flex items-center justify-evenly;
  }

  /* Cols */
  .col-start {
    @apply flex flex-col items-start justify-center;
  }

  .col-center {
    @apply flex flex-col items-center justify-center;
  }

  .col-end {
    @apply flex flex-col items-end justify-center;
  }

  .col-between {
    @apply flex flex-col items-start justify-between;
  }
}

.flip-theme-icon-flap{
  transform: rotateY(180deg);
  transform-origin: center;
  color: #FFFFFF;
}